<div class="inner cover">
  <h1 class="cover-heading">It's just a Cover Page.</h1>
  <p class="lead">Feel free to explore my site</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>

